.Header {
  display: flex;
  background-color: azure;
  border-bottom: 1px solid gainsboro;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.Header--dark {
  background-color: darkslategrey;
  color: whitesmoke;
  border-bottom: 1px solid green;
}